<a href="https://colab.research.google.com/github/Kashif5103/AI/blob/main/Basic_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variable in python

In [ ]:
# Craetye a variable kashif and print the value
kashif=5
print(kashif)
# Assign a value to a variable
num=6

5

In [ ]:
num1=3.14
ch="A"
name="kashif"
print(num1)
print(num1)
print(ch)
print(name)

3.14
3.14
A
kashif

**Variable Name in python **


1.   we use the (_) in start and and between the variable name.
2.  not use the reserve words
not use no in the start and not use the reserve words not use no in the start and not

In [ ]:
_name="Hello Kashif"

In [ ]:
kashif=5

In [ ]:
print(kashif)

5

In [ ]:
print(name)

kashif

**Strings in python**
single line comment
Multi line comment

In [ ]:
print("Hello")
print ('kashif')

Hello
kashif

In [ ]:
print("""kashif kljlkfjilohy nkltghoitrhoihoiugoh
joijioujioytujoiujtylkhjlgh
gihoityiouytoitoihthouyhthoi""")

kashif kljlkfjilohy nkltghoitrhoihoiugoh
joijioujioytujoiujtylkhjlgh
gihoityiouytoitoihthouyhthoi

**modify changes in Strings**


*   for upper case
*   for lower case

*   remove white spaces
*   Replace

*   split string
*   List item

In [ ]:
k= "  Hello World"
print(k)
# perfoam all operation
print(k.upper())
print(k.lower())
print(k.strip())
print(k.replace("Hello","Hi"))
print(k.split())

  Hello World
  HELLO WORLD
  hello world
Hello World
  Hi World
['Hello', 'World']

**List in Python**
list are ordered ,changeable aqnd duplicate value .list item are access through index the index start in (0---)

In [ ]:
list=['apple', 'banana', 'cherry']
list1=[1,2,3,4,5,6,7]
list3=[True,False,True]
list2=[1,'apple',3.14]
print(list)
print(list1)
print(list3)
print(list2)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5, 6, 7]
[True, False, True]
[1, 'apple', 3.14]

for the length of List

In [ ]:
print(len(list))

3

Access of element in list

In [ ]:
print(list[1])

banana

In [ ]:
print(list3[-2])

False

**slicing**

In [ ]:
print(list[1:3])

['banana', 'cherry']

**Add element in the list**

In [ ]:
# Add element in the list
list.append("orange")
print(list)

# replace on the index
list[1]="mango"
print(list)

['apple', 'banana', 'cherry', 'orange']
['apple', 'mango', 'cherry', 'orange']

**Revesre a List**

In [ ]:
# simple reverse
print(list[::-1])
# reverse list with slicing
print(list1[5:2:-1])

['orange', 'cherry', 'mango', 'apple']
[6, 5, 4]

**Tuple in Python**
Tuple are ordeed and unchangable/immutable and show Duplicate value

In [ ]:
T1=(1,2,3,4,5,6,7)

In [ ]:
print(T1)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
# we can handle multiple data
T2=(1,'apple',3.14)
T3=("apple","banana","orange")
T4=(True,False,True)
print(T2)
print(T3)
print(T4)

(1, 'apple', 3.14)
('apple', 'banana', 'orange')
(True, False, True)

In [ ]:
# single item in the tuple
T5=(1,)
print(T5)
print(type(T5))

(1,)
<class 'tuple'>

**Sets in Python**
Sets are unorder and unchangeable and unindexed.

In [ ]:
s1={1,2,3,4,5,6,7,5,6,7,9}
print(s1)
print(type(s1))
print(len(s1))

{1, 2, 3, 4, 5, 6, 7, 9}
<class 'set'>
8

**Dictnory in Python **
store value in  kayvalue pair.
collecton of unordered,changeable/mutable and not show the duplicate.

In [ ]:
d1={1:'apple',2:'banana',3:'orange'}
print(d1)
print(type(d1))
# make dictonary of a car brand (ford) model (mustang) and the year is 2023
car={
    "brand":"ford",
    "model":"mustang",
    "year":2023
}
print(car['brand'])
print(car['model'])
print(car['year'])
# and change the value like brand
car['brand']="toyota"
print(car)

{1: 'apple', 2: 'banana', 3: 'orange'}
<class 'dict'>
ford
mustang
2023
{'brand': 'toyota', 'model': 'mustang', 'year': 2023}