<a href="https://colab.research.google.com/github/Kashif5103/AI/blob/main/Conditional_and__Control_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IF Statement**

In [ ]:
# to check the no is postive and the no is negative and the no is zero
num = int(input("Enter a number: "))
if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

Enter a number: 12
Positive number

In [ ]:
# Student grade system by using conditional statemet
a = int(input("Enter your marks: "))
if a >= 90:
  print("A grade")
  print("Excellent")
elif a >= 80:
  print("B grade")
elif a >= 70:
  print("C grade")
elif a >= 60:
  print("D grade")
else:
  print("F grade")
  print("Sorry! You Fail")

Enter your marks: 45
F grade

**Loops Statement**

**For Loops**

we use for loop the the repetative task for the last condition is already know before

In [ ]:
# example : calculate the average of the list of number
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in list1:
  sum = sum + i
average = sum/len(list1)
print(average)

5.5

In [ ]:
# calculate the table of by given user input
a= int(input("Enter a number: "))
for i in range(1, 11):
  print(a, "x", i, "=", a*i)

Enter a number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
# Printing value from the dictonary like brand (honda) model (Civic), year 2025
cars = {
  "brand": "Honda",
  "model": "Civic",
  "year": 2025
}
for x in cars:
  print(x)

brand
model
year

In [ ]:
# Printing keys from the dictonary like brand (honda) model (Civic), year 2025
cars = {
  "brand": "Honda",
  "model": "Civic",
  "year": 2025
}
for x in cars:
  print(cars[x])

Honda
Civic
2025

In [ ]:
# Exmple of Finding even or odd from the input then print the result
num = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 13
Odd

**While Loop**

Doing the repative task without known the point6 it repete task till the condition is false

In [1]:
# calculate the sum of the natural no taken input from thye user
num = int(input("Enter a number: "))
sum = 0
i = 1
while i <= num:
  sum = sum + i
  i = i + 1
print(sum)

Enter a number: 5
15

In [3]:
# taking input from the user and print the no in desending order and and -2 is lessfrom each itearation
num = int(input("Enter a number: "))
i = num
while i >= 0:
  print(i)
  i = i - 2

Enter a number: 81
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [4]:
# sum of the natural no till the user input
num = int(input("Enter a number: "))
sum = 0
i = 1
while i <= num:
  sum = sum + i
  i = i + 1
print(sum)

Enter a number: 15
120

In [14]:
# taking input from the user calculate how many time divide by 3 before the value is lessthan and equal to  10

Enter a number: 25
1

In [16]:
# print the even and odd no from 1 to user input
num = int(input("Enter a number: "))
i = 1
while i <= num:
  if i % 2 == 0:
    print("Even",i)
  else:
    print("Odd",i)
  i = i + 1

Enter a number: 45
Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10
Odd 11
Even 12
Odd 13
Even 14
Odd 15
Even 16
Odd 17
Even 18
Odd 19
Even 20
Odd 21
Even 22
Odd 23
Even 24
Odd 25
Even 26
Odd 27
Even 28
Odd 29
Even 30
Odd 31
Even 32
Odd 33
Even 34
Odd 35
Even 36
Odd 37
Even 38
Odd 39
Even 40
Odd 41
Even 42
Odd 43
Even 44
Odd 45