<a href="https://colab.research.google.com/github/Kashif5103/AI/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operator**

In [ ]:
# Adding two numbers
a = 10
b = 5
sum_result = a + b
print("Sum:", sum_result)

# Subtracting two numbers
difference_result = a - b
print("Difference:", difference_result)

Sum: 15
Difference: 5

In [ ]:
 # Multiplying two numbers
x = 7
y = 3
product_result = x * y
print("Product:", product_result)

# Dividing two numbers
quotient_result = x / y
print("Quotient:", quotient_result)

Product: 21
Quotient: 2.3333333333333335

In [ ]:
# Modulus operation
m = 9
n = 4
modulus_result = m % n
print("Modulus:", modulus_result)

# Exponentiation
base = 2
exponent = 3
exponentiation_result = base ** exponent
print("Exponentiation:", exponentiation_result)

Modulus: 1
Exponentiation: 8

**Operator Using of artmetic operator**
using operator calculte the area of rectangle

In [ ]:
# langth of the rectangle
length=2.5
# width of the rectangle
width=3.5
# calculate the area of rectangle
area=length*width
# print area of the rectangle
print(area)

8.75

**Logical operator**

In [ ]:
# Using the and operator
a = True
b = False

result = a and b
print("a and b:", result)  # False, because one of the operands is False

a and b: False

In [ ]:
# Using the or operator
x = True
y = False

result = x or y
print("x or y:", result)  # True, because one of the operands is True

x or y: True

In [ ]:
# Using the not operator
flag = True

result = not flag
print("not flag:", result)  # False, because not inverts the boolean value

not flag: False

**Comperasion Operator**

In [ ]:
#  Using the Greater then operator
x = 10
y = 5

result = x > y
print("x > y:", result)  # True, because x is greater than y

x > y: True

In [ ]:
#  Using the less then operator
x = 10
y = 5

result = x < y
print("x < y:", result)  # False, because x is not less than y

x < y: False

In [ ]:
  #  Using the Greater then or equal to operator
  x = 10
  y = 5

  result = x >= y
  print("x >= y:", result)  # True, because x is greater than or equal to y

x >= y: True

In [ ]:
  #  Using the less  then or equal to operator
  x = 10
  y = 5

  result = x <= y
  print("x <= y:", result)  # False, because x is not less than or equal to y

x <= y: False

In [ ]:
  #  Using the equal to operator
  x = 10
  y = 5

  result = x == y
  print("x == y:", result)  # False, because x is not equal to y

x == y: False

**Compersation Operator**

In [ ]:
# Using and with less than and greater than
a = 10
b = 20
c = 30

result = (a < b) and (b < c)
print("(a < b) and (b < c):", result)  # True, because both conditions are True

(a < b) and (b < c): True

In [ ]:
# Using or with less than and greater than
x = 5
y = 15
z = 10

result = (x > y) or (y > z)
print("(x > y) or (y > z):", result)  # True, because one of the conditions is True

(x > y) or (y > z): True

In [ ]:
# Using not with less than and greater than
p = 25
q = 30

result = not (p > q)
print("not (p > q):", result)  # True, because p is not greater than q

not (p > q): True

In [ ]:
# using less than and greator than in the and or or operator
x= 10
y=5
x<y or x>y

True

In [ ]:
x>y and x>y

True

**Membership operator**

In [ ]:
# using in as as membership operator
"cat" in ['cat', 'dog', 'bird']

True

In [ ]:
# using not in as as membership operator\
"cat" not in ['cat', 'dog', 'bird']
"cat" not in ['animal', 'dog', 'bird']

True

List of items convert into upper and lower

In [ ]:
# List of strings
items = ['ApPlE', 'bAnAnA', 'ChErRy']

# Convert to both upper case and lower case
upper_case_items = [item.upper() for item in items]
lower_case_items = [item.lower() for item in items]

print("Original items:", items)
print("Upper case items:", upper_case_items)
print("Lower case items:", lower_case_items)

Original items: ['ApPlE', 'bAnAnA', 'ChErRy']
Upper case items: ['APPLE', 'BANANA', 'CHERRY']
Lower case items: ['apple', 'banana', 'cherry']

In [ ]:
# using add operator on the string
str1 = "Hello"
str2 = "World"

result = str1 + " " + str2
print("Concatenation:", result)  # "Hello World"

Concatenation: Hello World

In [ ]:
# using Multiplicaton operator on the string
str1 = "Hello"

result = str1 * 3
print("Multiplication:", result)  # "HelloHelloHello"

Multiplication: HelloHelloHello

In [ ]:
# using the substration on the string
str1 = "Hello World"
str2 = "World"

result = str1.replace(str2, "")
print("Subtraction (conceptual):", result)  # "Hello "